.heading-xl{
    font-size: 64px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 110%;
}

.heading-l{
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 110%;
}

.heading-m{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 110%;
}

.heading-s{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 110%;
}

.body-m{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.body-m-bold{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 150%;
}

.body-s{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.body-x{
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 150%;
}

:root{
    --blue: #345FF6;
    --gunmetal: #253347;
    --dark: #5e6e85;
    --purewhite: #FFFFFF;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    min-height: 100vh;
}

.text-blue{
    color: var(--blue);
}

.text-gunmetal{
    color: var(--gunmetal);
}

.text-dark{
    color: var(--dark);
}

.text-white{
    color: var(--purewhite);
}

.container{
    flex-direction: column;
    align-items: center;
}

.hero{
    position: relative;
}

.card-azul{
    z-index: -1;
    position: absolute;
    top: -32px;
    width: 100%;
    height: 640px;
    background: linear-gradient(to top,  rgba(214, 230, 254, .60), rgba(214, 230, 254, .40)); 
    border-radius: 0px 0px 35px 35px;

}

.sobre-bmi{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 20px;
}

.sobre-voce{
    padding: 24px;
    background-color: var(--purewhite);
    margin: 0px 23px;
    border-radius: 16px;
}

.your-bmi{
    padding: 32px;
    background-color: var(--blue);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}


.resultado-bmi{
    margin-bottom: 24px;
}

.input-container{
    display: flex;
    border: 1px solid var(--dark);
    border-radius: 12px;
    padding: 20px 24px;
    gap: 24px;
    margin-top: 8px;
}

.metric-imperial{
    display: flex;
    justify-content:space-between;
    padding-top: 24px;
}

.radio-container{
    display: flex;
    align-items: center;
    gap: 18px;
}

.input{
    width: 100%;
    border-radius: 12px;
    border: none;
}

.input:focus{
    outline: none;
}

.height-weight{
    margin-top: 24px;
}

.foto-homem{
    max-width: 768px;
    display: block;
    width: 100%; 
}

.sobre-resultado{
    padding-top: 72px;
}

.titulo-sobre-resultado{
    margin-top:48px;
    text-align: center;
}

.dicas{
    background: linear-gradient(to top,  rgba(214, 230, 254, .60), rgba(214, 230, 254, .40));
    padding: 56px 20px 92px;
    width: 100%;
    margin-top: 72px;
    
}

.dicas img{
    margin-top: 40px;
}

.dicas h3{
    margin-top: 32px;
}

.dicas p{
    margin-top: 24px;
}

.img-titulo{
    display:flex;
    align-items: center;
}

.img-titulo h3{
    padding-left: 16px;
}

.logo{
    margin-top: 32px;
    display: flex;
    justify-content: center;

}

.titulo {
    margin-top: 24px;
}

.descricao-bmi{
    margin: 24px 0px 48px;
}

.descricao-sobre{
    margin: 32px 0px 0px; 
}

.card{
    background-color: var(--purewhite);
    padding: 24px;
    margin: 16px 0px;
    border-radius: 16px;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, .20);
}

.limitacoes{
    padding: 72px 20px 96px;
}

.limitacoes h2{
    text-align: center;
}

.limitacoes p{
    margin: 32px 0px 0px;
    text-align: center;
}

.resultado-descricao-container{
    padding: 0px 20px;
}

input[type=radio] {
    border: 0px;
    width: 31px;
    height: 31px;
    vertical-align: middle;
}

.text-peso{
    font-weight: 700;
    color: var(--purewhite)
}

.arco-esquerda{
    display: none;
}

@media screen and (min-width: 768px) {
    .hero,
    .sobre-resultado,
    .dicas,
    .limitacoes{
        max-width: 1192px;
        width: 100%;
        margin: 0% auto;
    }
 
    .card-azul{
        top: 12px;
        left: -58px;
        width: 978px;
        height: 737px;
        border-radius: 0px 0px 35px 35px;

    }

    .hero{
        padding-top: 75px;
        margin-bottom: 138px;
    }

    .logo{
        justify-content: flex-start;
    }

    .sobre-bmi-voce{
        display: flex;
        align-items: center;
    }

    .sobre-bmi, .sobre-voce{
        flex: 1;
    }

    .descricao-bmi{
        padding-right: 70px;
    }

    .titulo-bmi{
        padding-right: 20px;
    }

    .descricao-bmi, .titulo-bmi{
        text-align: start;
    }

    .foto-homem{
        max-width: 564px;
    }

    .homem-container, .resultado-descricao-container{
        flex: 1;
    }

    .height-weight{
        display: flex;
        gap: 24px;
    }

    .your-bmi{
        border-radius: 16px 999px 999px 16px;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }   

    .text-your{
        flex: 1;
    }

    .resultado-bmi{
        flex: 1;
        margin-bottom: 0px;
    }

    .sobre-resultado{
        display: flex;
        align-items: center;
        padding-top: 65px;
        gap: 131px;
        position: relative;
    }

    .titulo-sobre-resultado{
        margin-top: 0px;    
    }

    .arco-esquerda{
        position: absolute;
        right: 27px;
        top: 0px;

    }

    .container-dicas{
        background: linear-gradient(to top,  rgba(214, 230, 254, .60), rgba(214, 230, 254, .40));
        padding: 72px 0px 96px;
        margin: 96px 24px 0px;

    }

    .dicas{
        background: initial;
        display: flex;
        border-radius: 35px;
        padding: 0px;
        gap: 32px;
    }

    .limitacoes{  
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(12, 1fr);
        column-gap: 32px;
        row-gap: 32px;
    }

    .titulo-texto-limitacoes{
        grid-area: 1 / 1 / 1 / 7;
    }

    .card-gender{
        grid-area: 1 / 8 / 1 / 12;
    }

    .card-age{
        grid-area: 2 / 5 / 2 / 9;
    }

    .card-muscle{
        grid-area: 2 / 9 / 2 / 13;
    }

    .card-pregnancy{
        grid-area: 3 / 3 / 3 / 7;
    }

    .card-race{
        grid-area: 3 / 7 / 3 / 11;
    }
    
    .card{
        margin: 0px;
    }

    .titulo-bmi{
        font-size: 64px;
        font-weight: 600;
        line-height: 110%;
    }

   .titulo-sobre-resultado .titulo-limitations{
        font-size: 48px;
        font-weight: 600;
        line-height: 110%;
   }

   .text-bmi-result{
        font-size: 64px;
        font-weight: 600;
        line-height: 110%;
        margin-top: 8px;
   }
 }